/*CSS for typography*/

.bold {
    font-weight: bold;
}

.text-btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #363232;
    text-decoration: none;
}

.heading-font {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    color: #363232
}

.subtitle-font {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    font-weight:lighter;
    color: #363232
}
    
a:link {
    text-decoration: none
}
    

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.1vw;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
}


.body-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height:1.5;
}


.fine-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
    color: grey;
    line-height:1.15;
    }

.details-text{
    margin-top: 100px;
    margin-bottom: 5px;
    color: #363232;
}

.title-font{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color:#363232;
    margin:0;
    box-sizing: border-box;
    padding:0;
}


/* Tablet size layout*/
@media (max-width: 1100px) {
    
    .heading-font {
        font-size: 2rem;
    }

    .text-btn {
        font-size: 0.8rem;
    }

    
    
    .body-text{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.8rem;
        line-height:1.5;
    }
    
    
    .fine-text{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.7rem;
        color: grey;
        line-height:1.15;
        }
    
    

}

/*mobile sized layout*/
@media (max-width: 750px) {

    .heading-font {
        font-size: 1.5rem;
    }

    .subtitle-font {
        font-size: 1.5rem;
    }
}


@media (max-width: 900px) {
    .title-font{
        font-size: 2rem;
    }
    
}

@media (max-width: 400px) {
    .title-font{
        font-size: 1.5rem;
    }
    
}