/*CSS for navbar and footer*/

nav {
    width: 100%;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    margin-top: 0;
    position: fixed;
    display: block;
    top: 0;
    z-index: 1;
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }
  
  .navbar-container {
    border:none;
    display: flex;
  }
  
  .nav-menu {
    display: flex;
    justify-content: space-between;
  }
  
  
  .navbar-container > :nth-last-child(2){ /*search and cart*/
    margin-left: auto;
  }
  
  
  .navbar-container > :nth-last-child(1){ /*search and cart*/
    padding-right: 1.5rem;
  }
  
  
  .navbar-container button { 
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
  }
  
  
  
  /*footer begins*/
  .footer-container {
    display: flex;
    bottom: 0;
    margin-bottom: 0;
    padding-top: 0.5%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    
  }
  .footer-header{
    
    font-size: 1vw;
    color: #363232;
    text-align:  left;
    margin-top: 0;
    
  }
  
  .footer-header2{
    
    font-size: 1vw;
    color: #363232;
    text-align:  left;
    padding-top: 15px;
    
  
  }
  
  .footer-container ul li {
    
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 0.75vw;
    color: #363232; 
    margin-left: auto;
    justify-content: left;  
    list-style: none;
    
  }
  
  .footer-container ul {
    width: 400px;
    border-left: solid;
    border-width: thin;
    border-color: #b8b2b2;
    margin-top: 15px;
    padding-top: 0;
    padding-left: 15px;
    padding-right: 10px;
  
  }
  
    /*footer begins*/
    .footer-container {
      display: flex;
      bottom: 0;
      margin-bottom: 0;
      background-color:#e8e3e3; 
      padding-top: 0.5%;
      padding-bottom: 1%;
      padding-left: 1%;
      padding-right: 1%;
      margin-right: 0;
    }
  
    .footer-header{
      font-size: 1vw;
      color: #363232;
      text-align:left;
      margin-top:0;
      
    }
   
    .footer-header2{
      font-size: 1vw;
      color: #363232;
      text-align:  left;
      padding-top: 15px;
    }
  
    .footer-container ul li {
      font-weight: bold;
      margin-bottom: 10px;
      font-size: 0.75vw;
      color: #363232; 
      margin-left: auto;
      justify-content: left;  
      list-style: none;
      
    }
    
    .footer-container ul {
      width: 400px;
      border-left: solid;
      border-width: thin;
      border-color: #b8b2b2;
      margin-top: 15px;
      padding-top: 0;
      padding-left: 15px;
      padding-right: 10px;
    
    }
  
  
    .footer-banner-container{
      display: flex;
      justify-content: right;
      float: right;
      align-content: right;
      padding-top: 5px;
    
    }
  
    .footer-container img {
     max-width: 100%;
     height: auto;
  
    }
  
  
  /*mobile display*/
  @media (max-width: 700px) {
  
    .nav-menu{
      display: none;
    }
  }
  
  .footer-banner-container{
    display: flex;
    justify-content: right;
    float: right;
    align-content: right;
    padding-top: 5px;
    
    
    
  
  }
  .footer-container img {
    
   max-width: 100%;
   height: auto;
   float: right;
   
  
  }
  